<!DOCTYPE html>
<html>
<head>
  <title>Flaskr</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>

  <div class="container">

    <h1>Flaskr-TDD</h1>

    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if session.logged_in %}
      <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="title"></dd>
          <dt>Text:</dt>
          <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
          <br><br>
          <dd><input type="submit" class="btn btn-default" value="Share"></dd>
        </dl>
      </form>
    {% endif %}

    <br>

    <ul class="entries">
      {% for entry in entries %}
        <li class="entry"><h2 id={{ entry.post_id }}>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
      {% else %}
        <li><em>No entries yet. Add some!</em></li>
      {% endfor %}
    </ul>

  </div>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>

</body>
</html>
