<!DOCTYPE html>
<html>
<head>
  <title>Flaskr</title>
  <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

  <div class="container">

    <h1>Flaskr-TDD</h1>

    {% if not session.logged_in %}
      <a class="btn btn-success" role="button" href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
    {% endif %}

    <a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>

    <br><br>

    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}

    {% if session.logged_in %}
      <form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="title" class="form-control col-sm-4"></dd>
          <dt>Text:</dt>
          <dd><textarea name="text" rows="5" cols="40" class="form-control col-sm-4"></textarea></dd>
          <br><br>
          <dd><input type="submit" class="btn btn-primary" value="Share"></dd>
        </dl>
      </form>
    {% endif %}

    <br>

    <ul class="entries">
      {% for entry in entries %}
        <li class="entry"><h2 id="{{ entry.post_id }}">{{ entry.title }}</h2>{{ entry.text|safe }}</li>
      {% else %}
        <li><em>No entries yet. Add some!</em></li>
      {% endfor %}
    </ul>

  </div>

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>

</body>
</html>
